{% extends 'base.html' %}

{% block content %}
<!-- Docs Head-->
<section class="docs-head bg-primary py-3">
    <div class="container grid">
        <div>
            <p class="lead">In my years of professional career in local and international customer experience business, i went through many levels of expertise and still continue to educate myself. Most recently my primary focus for the day is to continue improving web development skills and to write code every single day. I am very pragmatic and logical thinker with an eye for detail and an analytical mind. </p>
        </div>
        <img src="../static/images/docs.png" alt="">
    </div>
</section>
<!-- Docs Main-->
<section class="docs-main my-4">
    <div class="container grid">
        <div class="card bg-light p-3">
            <h3 class="my-2">My Reads</h3>
            <nav>
                <ul class="mb-3">
                    <li><a class="text-primary" href="https://quantpedia.com/" target="_blank">Quantpedia</a></li>
                    <li><a href="https://blog.miguelgrinberg.com/index" target="_blank">Miguel Grinberg</a></li>
                    <li><a href="https://www.followingthetrend.com/" target="_blank" >Clenow Research</a></li>
                    <li><a href="https://www.schiffradio.com/" target="_blank">Peter Schiff Radio</a></li>
                    <li><a href="https://www.thestreet.com/mishtalk/" target="_blank">Mish Talk</a></li>
                    <li><a href="https://goldsilver.com/" target="_blank">Mike Maloney</a></li>
                    <li><a href="https://www.trendfollowing.com/" target="_blank">Michael Covel</a></li>
                    <li><a href="https://perrykaufman.com/" target="_blank">Pery J. Kaufman</a></li>
                </ul>
            </nav>
        </div>
        <div class="card">
            <div class="alert alert-success">
                <h2>Summary of qualifications</h2>
            </div>
            <div class="code">
                <pre><code>$ in-depth knowledge of modern HTML/CSS</code></pre>
            </div>
            <br/>
            <div class="code">
                <pre><code>$ ability to create a responsive design</code></pre>
            </div>
            <br/>
            <div class="code">
                <pre><code>$ a solid understanding of how web applications work</code></pre>
            </div>
            <br/>
            <div class="code">
                <pre><code>$ hands-on experience with relational database systems</code></pre>
            </div>
            <br/>
            <div class="code">
                <pre><code>$ familiarity with object oriented programming concepts</code></pre>
            </div>
            <br/>
            <div class="code">
                <pre><code>$ testing sites and applications in different browsers and environments </code></pre>
            </div>
            <br/>
            <div class="code">
                <pre><code>$ fixing bugs in existing projects</code></pre>
            </div>
            <br/>
            <div class="code">
                <pre><code>$ planning and prototyping new features to ensure optimal performance</code></pre>
            </div>
            <div class="alert alert-info">
                <i class="fas fa-info"><h2>contact: mjaroszewski1979@gmail.com</h2></i>
            </div>
        </div>
    </div>

</section>
{% endblock content %}
