{% extends 'base.html' %}

{% block content %}
<!-- Showcase -->
<section class="showcase">
    <div class="container grid">
        <div class="showcase-text">
            <h1>Fullstack developer with primary focus on Python.</h1>
            <p>Flask is considered more Pythonic than the Django web framework because in common situations the equivalent Flask web application is more explicit. Flask is also easy to get started with as a beginner because there is little boilerplate code for getting a simple app up and running. </p>
                <a href="https://www.fullstackpython.com/flask.html" target="_blank" class="btn btn-outline">Read more</a>
        </div>
        <div class="showcase-form card">
            <h2>Contact me</h2>
            <form action="{{ url_for('success')}}", method='POST'>
                <div class="form-control">
                    <input type="text" name="name" placeholder="Name" required>
                </div>
                <div class="form-control">
                    <input type="text" name="company" placeholder="Company">
                </div>
                <div class="form-control">
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <input type="submit" value="Send" class="btn btn-primary">
            </form>
        </div>
    </div>
</section>
<!-- Stats -->
<section class="stats">
    <div class="container">
        <div class="grid grid-3 text-center my-2">
            <div>
                <i class="fas fa-server fa-3x"></i>
                <h3>10</h3>
                <p class="text-secondary">Deployments</p>      
            </div>
            <div>
                <i class="fas fa-upload fa-3x"></i>
                <h3>670 MB</h3>
                <p class="text-secondary">Published</p> 
            </div>
            <div>
                <i class="fas fa-project-diagram fa-3x"></i>
                <h3>18</h3>
                <p class="text-secondary">Projects</p> 
            </div>
        </div>
    </div>
</section>
<!-- Flask -->
<section class="flask">
    <div class="container grid">
        <img src="../static/images/flask.png" alt="">
        <div class="card">
            <h3>Easy to use</h3>
        </div>
        <div class="card">
            <h3>Library support</h3>
        </div>
    </div>
</section>
<!-- Cloud -->
<section class="cloud bg-primary my-2 py-2">
    <div class="container grid">
        <div class="text-center">
            <h2 class="lg">Which framework is more popular?</h2>
            <p class="lead my-1">As a rule of thumb, Flask will do slightly better in terms of framework performance (because it’s smaller and has fewer layers), while Django is more effective in delivering complete, more complex features.</p>
            <a href="https://www.stxnext.com/blog/flask-vs-django-comparison/" target="_blank" class="btn btn-dark">Read more</a>
        </div>
        <img src="../static/images/cloud.png" alt="">
    </div>
</section>
<!-- Languages -->
<section class="languages">
    <h2 class="text-center my-2">Team members</h2>
    <div class="container flex">
        <div class="card">
            <h4>Python</h4>
            <img src="../static/images/python.png" alt="">
        </div>
        <div class="card">
            <h4>HTML</h4>
            <img src="../static/images/html.png" alt="">
        </div>
        <div class="card">
            <h4>CSS</h4>
            <img src="../static/images/css.png" alt="">
        </div>
        <div class="card">
            <h4>Bootstrap</h4>
            <img src="../static/images/bootstrap.png" alt="">
        </div>
        <div class="card">
            <h4>PostgreSQL</h4>
            <img src="../static/images/postgresql.png" alt="">
        </div>
        <div class="card">
            <h4>Github</h4>
            <img src="../static/images/github.png" alt="">
        </div>
    </div>
</section>
{% endblock content %}
