{% extends 'base.html' %}

{% block content %}
<section class="success-head bg-light py-3">
    <div class="container grid">
        <div class="card p-2">
            <h1>Thank you {{ name }} for replying.</h1>
            <small>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis optio, quas quia consequatur, totam nam ex maxime ipsam expedita eligendi tempore esse nihil magni deserunt inventore non vitae quasi libero quidem, neque pariatur recusandae beatae? Fugit aspernatur doloribus optio blanditiis, ea ipsum sequi magni laborum ad quod vel, quam earum.
            </small>
        </div>
    </div>
</section>
{% endblock content %}